/**/.DS_Store
/features.pickle
/labels.pickle
.idea
build
mwsa_model.iml
mwsa_model.egg-info
venv
/**/__pycache__
data/english_nuig/
data/reference_data/english_nuig_reference.tsv
data/test/english_nuig_test.tsv
de.pkl
dist/
mwsa_model/data/features*
mwsa_model/data/labels*
mwsa_model/output/models/*
mwsa_model/output/predictions/*.txt
test/en.pkl